# U.S. Medical Insurance Costs

## Introduction

This project explores issues within a provided dataset on US insurance costs. The data is supplied is a CSV format, and to give an indicative view of what this data looks like, the first 5 entries in the CSV file are shown below:

In [68]:
# Set up libraries, import csv, and print first 5 rows
import csv
import numpy as np
import pandas as pd
import os

with open("insurance.csv") as insurance_csv_file:
  pd_df = pd.read_csv(insurance_csv_file)
pd_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

There are 1338 subjects in the dataset.

## Scope

The aims of the project are to explore:

 - Frequency of region of people 
 - Two-way table between male and female, and smoking and non-smoking, with a Chi squared analysis to test whether there is statistical significance
 - Is there a difference in ages between areas?
 - Is there a relationship between cost of insurance, and area lived in?

In [69]:
# Manual calculation of regions frequency table - VERBOSE WAY OF DOING THIS! Shorter and more efficient to use Pandas, as do after this

region_list = []
region_count = {}

with open("insurance.csv") as insurance_csv_file:
    insurance_csv = list(csv.reader(insurance_csv_file)) # Opening csv file using CSV library (rather than Pandas)


for person in insurance_csv:
    region_list.append(person[5]) # Creates new region list with all entries in it as single entries
      
for item in region_list:
    if item not in region_count:
        region_count[item] = region_list.count(item) # Creates new dictionary with a pair of item key, and value being the count of that item 

del region_count["region"] # Deletes first title row

print(region_count) # Outputs counts
total = len(region_list)

for value in region_count.values():
    print(str(round((value/total*100), 1)) + "%")

{'southwest': 325, 'southeast': 364, 'northwest': 325, 'northeast': 324}
24.3%
27.2%
24.3%
24.2%

In [70]:
# Create Pandas csv reader, and create region frequency table from it

pd_df["region"].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [71]:
pd_df["region"].value_counts(normalize=True) # Percentages of area representation (or at least dec equiv of percentages)

southeast    0.272048
southwest    0.242900
northwest    0.242900
northeast    0.242152
Name: region, dtype: float64

In [72]:
# Male/female breakdown
pd.crosstab(index=pd_df["sex"],  # Make a crosstab
                              columns="count")      # Name the count column

col_0   count
sex
female    662
male      676

In [73]:
pd.crosstab(index=pd_df["children"],  # Make a crosstab
                              columns="count")      # Name the count column

col_0     count
children
0           574
1           324
2           240
3           157
4            25
5            18

In [74]:
pd.crosstab(index=pd_df["smoker"],  # Make a crosstab
                              columns="count")      # Name the count column

col_0   count
smoker
no       1064
yes       274

In [75]:
pd_df.groupby(["region", "sex"])["charges"].mean() # Average cost split by biological sex in area

region     sex
northeast  female    12953.203151
           male      13854.005374
northwest  female    12479.870397
           male      12354.119575
southeast  female    13499.669243
           male      15879.617173
southwest  female    11274.411264
           male      13412.883576
Name: charges, dtype: float64

In [76]:
# Grouped freq table on age
bins = [0,10,20,30,40,50,60,70,80,90]
labels = ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99"]
pd_df["age_freq"] = pd.cut(pd_df["age"], bins, labels) # Adds additional column with group
pd_df["age_freq"].value_counts(sort=False) # Creates freq table to show distribution

(0, 10]       0
(10, 20]    166
(20, 30]    278
(30, 40]    257
(40, 50]    281
(50, 60]    265
(60, 70]     91
(70, 80]      0
(80, 90]      0
Name: age_freq, dtype: int64

## Two-way tables

In [77]:
smoking_sex = pd.crosstab(index=pd_df["smoker"], 
                           columns=pd_df["sex"])

smoking_sex.index= ["no","yes"]

smoking_sex

sex  female  male
no      547   517
yes     115   159